.row {
  width: 50%;
  float:left;
}
.fixed {
  position: fixed;
  max-width: 400px;
}
#count-matching {
  font-weight: bold;
  font-size: 1.1em;
}
#search {
  margin-top: 10px;
}

.resource {
  margin-bottom: 40px;

  .link {
    padding: 2px;
    position: relative;
    top: 2px;
  }
  .owner {
    margin: 10px 0;
    color: $color-gray;
    text-transform: uppercase;
    letter-spacing: -1px;
  }
  .description {
    font-size: 14px;
    margin: 20px 0 0 0;
  }
}

.tags {
  margin: 10px 0;
}
.scores {
  margin: 10px 0;
}
.tag {
  background-color: $color-tag;
  color: $color-white;
  text-transform: lowercase;
  padding: 2px 6px;
  font-size: 12px;
  margin-right: 2px;

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -khtml-border-radius: 4px;

  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.tag.health-HIGH {
  background-color: $color-green;
}
.tag.health-MEDIUM {
  background-color: $color-orange;
}
.tag.health-LOW {
  background-color: $color-red;
}

input[type=text] {
  width: 100%;
  font-size: 2em;
  padding: 2px;
}

input[type=text]::placeholder {
  color: #ddd;
  opacity: 1;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
input[type="checkbox"] + span {
  font: 16pt sans-serif;
  color: #000;
}
input[type="checkbox"] + span:before {
  font: 16pt "Font Awesome 5 Free";
  content: '\00f0c8';
  display: inline-block;
  width: 16pt;
  padding: 2px 0 0 3px;
  margin-right: 0.3em;
}
input[type="checkbox"]:checked + span:before {
  content: '\00f14a';
}
input[type="checkbox"]:focus + span:before {
  outline: 1px dotted #aaa;
}
input[type="checkbox"]:disabled + span {
  color: #999;
}
input[type="checkbox"]:not(:disabled) + span:hover:before {
  text-shadow: 0 1px 2px #cccccc;
}
