

/** Colors */
$color-black: #36454f;
$color-red: #eb5027;
$color-white: #fff;

/** Fonts */
//$font-title:        'HS Grotesk', sans-serif;
//$font-main:         'Menoe Grotesque', sans-serif;

$font-main:         'Roboto Slab', sans-serif;
$font-title:        'Raleway', sans-serif;
