@import "reset";
@import "variables";

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Roboto+Slab');

img {
	width: auto;
}
h1,h2,h3 {
	font-family: $font-title;
}
h1 {
	font-size: 4em;
	margin: 0 0 0.5em 0;
	padding: 10px 0;
	color: $color-red;
	font-weight: bold;
}
h2 {
	font-size: 2.5em;
	margin-top: 2em;
	color: $color-red;
	font-weight: bold;
}
h3 {
  font-size: 2em;
  color: $color-red;
  font-weight: bold;
}

body {
  font-size: 16px;
  font-family: $font-main;
  color: $color-black;
  background-color: $color-white;
  padding-top: 6em;
}
main {
	margin: 2em 0 10em 0;
}
.grid {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1000px) 1fr;
  grid-gap: 1em;
}

code {
  font-family: monospace;
  background-color: #eee;
  padding: 0 2px;
}

.wrapper {
  grid-column: 2;
  line-height: 1.2;
  font-size: 1em;
}
p, li {
	line-height: 1.5em;
	font-size: 1.5em;
}
li {
	margin: 1em 0 0 1em;
}
ul li {
	list-style: disc;
}
ol li {
	list-style: decimal;
}
p {
	margin: 2em 0 0 0;
}
ul, ol {
	margin: 2em 0 0 2em;
}

a,a:hover,a:visited {
	color: $color-red;
}
a#home {
	position: absolute;
	text-decoration: none;
	font-size: 2em;
	top: 10px;
}
strong {
  font-weight: bold;
  color: $color-red;
}

footer {
	background-color: $color-black;
	padding: 4em 0;
	text-align: center;
	color: $color-white;
	font-size: 1.5em;
	line-height: 1.5em;
}
.small {
	font-size: 0.7em;
}

em {
	font-style: italic;
}
.flex {
	display: flex;
	align-items: center;
}

nav {
	width: 100%;
	background-color: $color-black;
	padding: 0.5em 0;
  position: fixed;
  left: 0;
  top:0;
  z-index: 1000;
	div.flex {
		a {
			padding: 1em;
			display: block;
			font-size: 1.1em;
			color: $color-white;
			text-decoration: none;
			&:hover {
				background-color: $color-red;
			}
		}
	}
}

@import "db";

@media screen and (max-width: 600px) {
	img {
		width: 100%;
	}
	header {
		margin: 0;
	}
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}
  h3 {
    font-size: 1.3em;
  }
	p, li {
		font-size: 1em;
	}
	.grid {
    display: inline;
	}
  nav {
    font-size: 0.7em;
    div.flex a {
      padding: 5px;
      text-align: center;
    }
  }
	.wrapper {
	  line-height: 1;
	  font-size: 1em;
	  margin: 0 1em;
	}
  .row {
    width: 90%;
  }
}
