<footer>
<div>Kontakt: <a href="mailto:info@heapspace.rs?subject=OpenData">info@heapspace.rs</a></div>
<div class="small">Sadržaj je dostupan pod <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank">CC-BY-4.0 licencom</a>.</div>
</footer>
