{% extends "base.njk" %}
{% block head %}
<script type="text/javascript" src="/jquery.qrcode.min.js"></script>
  {% endblock %}
{% block main %}

{% set od = site.data.opendata %}
{% set ods = site.data.opendata_scores %}

{% for res in od.resources %}
  {% if res.id == content %}
    {% set score = ods[res.id] %}

    <h2>{{ res.title }}</h2>

    <dl style="margin: 20px 10%">
      <dt>линк</dt>
      <dd><a href="{{ res.url }}" target="_blank" class="link"><i class="fas fa-external-link-square-alt"></i></a></dd>

      <dt>величина</dt>
      <dd>{{ ods[res.id].size | fsf }}</dd>

      <dt>време одзива</dt>
      <dd>{{ ods[res.id].time }} ms</dd>

      <dt>лиценца</dt>
      <dd>{{ od.licenses[res.license].name }}</dd>

      <dt>формат</dt>
      <dd>{{ res.format }}</dd>

      <dt>укупни квалитет</dt>
      <dd>{{ score.health }}</dd>

      <dt>on-line</dt>
      <dd>{{ "da" if score.scores['online'] == 'HIGH' else "ne" }}</dd>

      <dt>https</dt>
      <dd>{{ "da" if score.scores['https'] == 'HIGH' else "ne" }}</dd>

      <dt>отворена лиценца</dt>
      <dd>
        {{ "recommended" if score.scores['license'] == 'HIGH'}}
        {{ "conformant" if score.scores['license'] == 'MEDIUM'}}
        {{ "non-conformant" if score.scores['license'] == 'LOW'}}
      </dd>

      <dt>машинска читљивост</dt>
      <dd>
        {{ "da" if score.scores['mread'] == 'HIGH'}}
        {{ "ne" if score.scores['mread'] == 'LOW'}}
      </dd>

      <dt>опис</dt>
      <dd>{{ res.description }}</dd>

      <dt>датасет</dt>
      <dd>{{ od.datasets[res.datasetId].description }}</dd>

      <dt>власник</dt>
      <dd>{{ od.owners[res.ownerId].name }}</dd>

      <dt>извор</dt>
      <dd>{{ od.sources[res.sourceId].name }}</dd>

    </dl>

    <div id="qrcode"></div>

    <script>
      $('#qrcode').qrcode({
        width: 256,
        height: 256,
        text: "{{ site.baseURL + url }}"
      });
    </script>


  {% endif %}
{% endfor %}

{% endblock %}
